--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.8.0+cu126
aiogram==3.21.0
aiogram_dialog==2.4.0
aiosqlite==0.21.0
alembic==1.16.4
APScheduler==3.11.0
Pyrogram==2.0.106
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
SQLAlchemy==2.0.43
TgCrypto2==1.3.2
transformers==4.55.2